* {
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  overflow-y: scroll !important; }

body {
  font-size: 1.4rem;
  font-family: 'PlayfairDisplay';
  line-height: 1.42857;
  margin: 0;
  overflow-x: hidden; }

h1 {
  font-family: "PlayfairDisplay";
  font-size: 4rem;
  line-height: 1.1; }

h3 {
  font-size: 24px; }

h2 {
  font-family: arial;
  font-size: 3rem;
  text-transform: lowercase;
  font-weight: 900;
  letter-spacing: -2;
  margin-bottom: 0; }

h4 {
  font-family: "PlayfairDisplay-Italic";
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px; }

p {
  margin: 0 0 10px; }

a {
  color: #343434;
  cursor: pointer;
  position: relative;
  text-decoration: none; }

a:hover {
  background: #343434;
  color: #FFFFFF;
  cursor: crosshair;
  text-decoration: none; }
  a:hover span {
    -webkit-text-stroke: 0.03em #FFF !important; }
  @media only screen and (min-width: 400px) {
    a:hover {
      background: none; }
      a:hover::before {
        animation-name: bg-wobble;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        content: "";
        width: 100%;
        height: 100%;
        background: #343434;
        position: absolute;
        z-index: -1; } }

p a {
  color: #343434;
  font-family: 'PlayfairDisplay-Black'; }

*::selection {
  background-color: yellow; }

*::-moz-selection {
  background-color: yellow; }

a::selection {
  background-color: #FFFFFF;
  color: #343434; }

a::-moz-selection {
  background-color: #FFFFFF;
  color: #343434; }

.about {
  opacity: 0;
  transition: opacity 0.5s linear, visibility 0.5s linear;
  visibility: hidden; }
  .about__line {
    width: 50%;
    margin-bottom: 30px;
    max-width: 300px;
    height: 1px;
    background: #343434; }
  .about__content {
    padding: 0; }
    @media (min-width: 992px) {
      .about__content {
        width: 70%; } }
    .about__content ul {
      padding: 0; }
    .about__content h4 {
      font-size: 2rem; }
      @media (max-width: 768px) {
        .about__content h4 {
          text-align: center; } }
    .about__content li {
      display: block; }
    .about__content .experiences {
      margin-left: 50px; }
      @media (max-width: 768px) {
        .about__content .experiences {
          margin-left: 0; } }
      .about__content .experiences li {
        font-family: "Montserrat-Light";
        text-transform: uppercase;
        margin: 0 auto 30px; }
      .about__content .experiences img {
        max-width: 6rem;
        max-height: 8rem;
        display: block;
        margin: auto;
        padding-bottom: 1rem; }
  .about .job-title {
    color: transparent !important;
    display: inline-block;
    font-family: "Montserrat";
    font-size: 3rem;
    -webkit-text-stroke: 0.03em #000000; }
    @media (max-width: 768px) {
      .about .job-title {
        font-size: 2.5rem; } }

@font-face {
  font-family: 'PlayfairDisplay';
  src: url(/2ec4a3528bb6b0bd79edf9a1dc601fc7.ttf) format("truetype"); }

@font-face {
  font-family: 'PlayfairDisplay-Italic';
  src: url(/8bd038cd447b1bef826ebf73e1ebbdb2.ttf) format("truetype"); }

@font-face {
  font-family: 'PlayfairDisplay-Black';
  src: url(/7b98c94eecdab63a02cf8624e9ee4058.ttf) format("truetype"); }

@font-face {
  font-family: 'Montserrat';
  src: url(/f7213526ec9296ff43426bfe3eae8926.ttf) format("truetype"); }

@font-face {
  font-family: 'Montserrat-Light';
  src: url(/9e52b00d737492e337b2498406aef98f.ttf) format("truetype"); }

@font-face {
  font-family: 'Lora';
  src: url(/40a783af4a824ef3f56ac5932c991e19.ttf) format("truetype"); }

@font-face {
  font-family: 'Lora-BoldItalic';
  src: url(/9fa09b1e4d0add4581aa8d5a3917914c.ttf) format("truetype"); }

@font-face {
  font-family: 'AnonymousPro-Regular';
  src: url(/1a728ab67ea9383bdb7ceb425d373ede.ttf) format("truetype"); }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8rem;
  line-height: 6rem;
  background-color: #343434;
  display: flex;
  align-items: center; }
  .footer .container {
    text-align: center; }
    .footer .container p {
      font-family: "arial";
      letter-spacing: -0.5;
      text-transform: uppercase;
      margin: 0;
      font-size: 1.3rem;
      font-weight: 600;
      color: #FFFFFF; }

@media screen and (max-width: 940px) {
  .home .col-md-8 {
    position: absolute; }
    .home .col-md-8 .captions {
      background-color: black;
      opacity: 1;
      color: white; }
  .text {
    width: 100% !important; }
  .row {
    margin: auto; } }

.nav {
  display: block;
  height: 105px;
  position: fixed;
  width: 100%;
  z-index: 1; }
  .nav__header {
    display: block;
    height: 6rem; }
    .nav__header h1 {
      margin: 0 auto;
      text-align: center;
      width: 200px; }
      .nav__header h1 a {
        font-family: "arial";
        top: 1rem;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: -4px;
        position: relative; }
        .nav__header h1 a:hover {
          color: #343434;
          background: transparent; }
          @media only screen and (min-width: 400px) {
            .nav__header h1 a:hover::before {
              animation: none;
              width: 100%;
              height: 1em;
              background: transparent; } }
  .nav__list {
    text-align: center;
    width: 100%;
    padding: 0;
    text-transform: uppercase;
    margin-top: 1.6rem;
    font-family: "AnonymousPro-Regular", monospace;
    font-weight: 900;
    letter-spacing: 1.3; }
    .nav__list a {
      margin: 0 1.5rem; }

.sub-nav {
  margin-bottom: 2rem; }
  .sub-nav ul {
    margin: 10px 0 0 0;
    padding: 0; }
    .sub-nav ul a {
      margin: 0 3rem 0 0;
      text-transform: lowercase;
      font-family: "Montserrat-Light"; }

.home {
  min-height: 85vh;
  opacity: 0;
  transition: opacity 0.5s linear, visibility 0.5s linear;
  visibility: hidden; }
  .home path {
    transition: opacity 10000s ease-out 200ms, visibility 10000s ease-out 200ms;
    opacity: 0;
    visibility: hidden; }
  .home.is-visible path {
    opacity: 1;
    visibility: visible; }
  .home__image {
    display: block;
    bottom: 69px;
    height: 40vw;
    min-height: 400px;
    min-width: 400px;
    position: absolute;
    left: -20px;
    transform: scaleX(-1);
    width: 40vw;
    z-index: -10; }
  .home .col-md-8 {
    margin-top: 7rem;
    font-size: 2rem;
    padding: 0; }
  .home .col-md-4 {
    text-align: center; }
    .home .col-md-4 .map {
      width: 100%; }
    .home .col-md-4 .twitter-feed {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      position: relative;
      width: 100%; }
      .home .col-md-4 .twitter-feed .twitter {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0.5%;
        height: 100%;
        max-height: 100px;
        max-width: 100px;
        position: relative;
        width: 32%; }
    .home .col-md-4 p {
      font-size: 1.2rem; }
      .home .col-md-4 p .title {
        font-family: 'Montserrat-Light'; }

.project {
  margin: 2rem auto;
  text-align: center; }
  .project img, .project__text, .project ul {
    width: 70%; }
  .project img {
    padding: 0;
    box-shadow: 0rem 1rem 3.5rem grey;
    margin: 1.4rem 0 4rem; }
  .project h3 {
    margin: 0;
    font-family: "AnonymousPro-Regular", monospace;
    font-weight: 900;
    text-transform: uppercase; }
  .project__text {
    margin: auto;
    text-align: justify; }
  .project ul {
    display: flex;
    margin: 3rem auto;
    padding: 0;
    flex-wrap: wrap; }
    .project ul .tag {
      display: inline;
      margin: 0 auto 1rem;
      text-transform: uppercase;
      font-family: "Montserrat-Light";
      color: #FFFFFF; }
  .project .project-description {
    position: absolute;
    display: inline; }

.left, .right {
  padding: 0 2rem; }

.left {
  text-align: left; }

.right {
  text-align: right; }

@media screen and (max-width: 940px) {
  .project img, .project__text, .project ul {
    width: 100%; }
  .project img {
    margin: 1.4rem 0 4rem;
    box-shadow: 0rem 1rem 3.5rem grey; } }

.drawing {
  transition: max-width 300ms linear, opacity 300ms linear, visibility 300ms linear;
  max-width: 100%;
  margin: 2rem 0;
  cursor: crosshair; }
  .drawing.is-hidden {
    opacity: 0;
    visibility: hidden; }
  .drawing-grid.container {
    display: table;
    min-height: 85vh; }
    @media (min-width: 992px) {
      .drawing-grid.container {
        padding-left: 0;
        padding-right: 0; } }
  .drawing-container {
    min-height: 1px;
    position: relative; }
    @media (min-width: 992px) {
      .drawing-container {
        float: left;
        padding-left: 15px;
        padding-right: 15px;
        width: 33.33333%; } }
  .drawing-info {
    font-family: 'AnonymousPro-Regular', monospace;
    position: absolute;
    background: #343434;
    color: white;
    border-radius: 5px;
    top: 10px;
    transition: opacity 100ms linear, visibility 100ms linear;
    padding: 5px;
    opacity: 0.8; }
    .drawing-info.is-hidden {
      opacity: 0;
      visibility: hidden; }

.captions {
  display: inline;
  font-family: 'AnonymousPro-Regular', monospace; }

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.multiSounds__sound, .multiSounds__teaser, .multiSounds__details {
  display: none; }

.multiSounds__list .soundsList__inner {
  height: auto;
  overflow: auto;
  width: auto;
  padding-top: auto; }

.multiSounds__list .soundsList__item {
  border-radius: 50%;
  height: 100px;
  width: 100px; }

.social-media {
  display: block;
  width: 3rem;
  bottom: 0;
  margin-bottom: 8rem;
  margin-right: 1rem;
  position: fixed;
  right: 1rem; }
  .social-media .icons {
    padding: 0; }
    .social-media .icons a {
      display: flex;
      height: 3rem;
      overflow: hidden;
      margin: 1rem 0; }
      .social-media .icons a:hover {
        background: none; }
        @media only screen and (min-width: 400px) {
          .social-media .icons a:hover::before {
            animation: none;
            width: 100%;
            height: 1em;
            background: none; } }
      .social-media .icons a img {
        width: 100%;
        opacity: 0.3;
        transition: opacity 0.3s ease; }
      .social-media .icons a img:hover {
        opacity: 1 !important;
        transition: opacity 0.3s ease; }

@media screen and (max-width: 940px) {
  .social-media {
    display: none; } }

.is-visible {
  opacity: 1 !important;
  visibility: visible !important; }

.bold {
  font-family: "Lora-BoldItalic"; }

@keyframes wobble {
  0% {
    text-shadow: -1px -1px 0 #00f, 1px 1px 0 #f00; }
  25% {
    text-shadow: 1px -1px 0 #00f, -1px 1px 0 #f00; }
  50% {
    text-shadow: 1px 1px 0 #00f, -1px -1px 0 #f00; }
  75% {
    text-shadow: -1px 1px 0 #00f, 1px -1px 0 #f00; }
  100% {
    text-shadow: -1px -1px 0 #00f, 1px 1px 0 #f00; } }

@keyframes bg-wobble {
  0% {
    left: -random(3)px;
    top: 1px; }
  25% {
    left: 1px;
    top: 1px; }
  50% {
    left: 2px;
    top: 3px; }
  75% {
    left: -random(3)px;
    top: 3px; }
  100% {
    left: 2px;
    top: -random(3)px; } }

.active {
  color: #FFFFFF !important;
  background: #343434;
  text-decoration: none !important;
  animation-name: wobble;
  animation-duration: 5s;
  animation-iteration-count: infinite; }
  @media only screen and (min-width: 400px) {
    .active {
      background: none; }
      .active::before {
        content: "";
        width: 100%;
        height: 1em;
        background: #343434;
        position: absolute;
        z-index: -1;
        left: -3px; } }

.app {
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  min-height: 100%;
  position: relative;
  padding-bottom: 8rem; }
  .app:before, .app:after {
    content: " ";
    display: table; }

.content {
  padding: 4.5rem 0; }

.multiSounds__details {
  display: none !important; }

iframe {
  border: none;
  margin: 50px auto;
  display: block;
  width: 60%; }

.text {
  width: 70%; }

.grid {
  padding: 0; }

.container-body {
  margin-bottom: 10rem; }

.work, .contact, .code {
  opacity: 0;
  transition: opacity 0.2s linear, visibility 0.2s linear;
  visibility: hidden; }

.caption-text {
  background-color: #fff;
  font-size: 18px;
  position: absolute;
  max-width: 250px; }

.code {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.tweet-image {
  display: block;
  opacity: 0;
  position: absolute;
  transition: all 0s linear 1s;
  visibility: hidden;
  width: 100px;
  z-index: -1; }
  .tweet-image.is-active {
    opacity: 1;
    visibility: visible; }

.tweet-link {
  display: block;
  font-size: 35px;
  transition: all 0s linear 1s;
  position: absolute;
  visibility: hidden;
  opacity: 0; }
  .tweet-link.is-active {
    opacity: 1;
    visibility: visible; }

.main {
  padding-top: 105px;
  margin: 0;
  width: 100%; }
  .main:before, .main:after {
    content: " ";
    display: table; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }
  .container:after {
    clear: both; }
